In [3]:
# Project Milestone-3
# 04/26/2020 Lenin Kamma

In [4]:
# Import libraries
import pandas as pd

In [5]:
# Read CSV file from Census.gov website
cnty_est_pop = pd.read_csv("https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/totals/co-est2019-alldata.csv",encoding='unicode_escape')

In [6]:
# View data
cnty_est_pop.head

<bound method NDFrame.head of       SUMLEV  REGION  DIVISION  STATE  COUNTY   STNAME            CTYNAME  \
0         40       3         6      1       0  Alabama            Alabama
1         50       3         6      1       1  Alabama     Autauga County
2         50       3         6      1       3  Alabama     Baldwin County
3         50       3         6      1       5  Alabama     Barbour County
4         50       3         6      1       7  Alabama        Bibb County
...      ...     ...       ...    ...     ...      ...                ...
3188      50       4         8     56      37  Wyoming  Sweetwater County
3189      50       4         8     56      39  Wyoming       Teton County
3190      50       4         8     56      41  Wyoming       Uinta County
3191      50       4         8     56      43  Wyoming    Washakie County
3192      50       4         8     56      45  Wyoming      Weston County

      CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  ...  \
0           4779736            4780125          4785437  ...
1             54571              54597            54773  ...
2            182265             182265           183112  ...
3             27457              27455            27327  ...
4             22915              22915            22870  ...
...             ...                ...              ...  ...
3188          43806              43806            43574  ...
3189          21294              21298            21296  ...
3190          21118              21121            21089  ...
3191           8533               8528             8530  ...
3192           7208               7208             7198  ...

      RDOMESTICMIG2019  RNETMIG2011  RNETMIG2012  RNETMIG2013  RNETMIG2014  \
0             1.917501     0.578434     1.186314     1.522549     0.563489
1             4.847310     6.018182    -6.226119    -3.902226     1.970443
2            24.017829    16.641870    17.488579    22.751474    20.184334
3            -5.690302     0.292676    -6.897817    -8.132185    -5.140431
4             1.385134    -4.998356    -3.787545    -5.797999     1.331144
...                ...          ...          ...          ...          ...
3188        -17.605427     0.502513    15.035735    -4.614071   -13.140225
3189         -1.583464    -2.575509     1.905293    23.259519    12.508872
3190         -9.181105   -18.196975    -4.487730   -10.870861   -15.033634
3191         -7.652085   -12.839390    -3.084589    -1.307811   -18.938032
3192          0.000000    -9.065551   -10.549265     6.191515     0.420345

      RNETMIG2015  RNETMIG2016  RNETMIG2017  RNETMIG2018  RNETMIG2019
0        0.626357     0.745172     1.090366     1.773786     2.483744
1       -1.712875     4.777171     0.849656     0.540916     4.560062
2       17.725964    21.279291    22.398256    24.727215    24.380567
3      -15.724575   -18.238016   -24.998528    -8.754922    -5.165664
4        1.329817    -0.708717    -3.234669    -6.857092     1.831952
...           ...          ...          ...          ...          ...
3188   -13.762031   -18.484164   -23.515727   -18.743773   -17.065527
3189     4.670450     1.253214    -0.171608   -12.432212     1.797445
3190   -10.484550   -11.485101   -18.923455   -13.554993    -9.181105
3191     0.000000   -15.204038   -15.950541   -17.246806    -8.289759
3192     9.201171     0.693097   -36.227798    -6.910452     2.599090

[3193 rows x 164 columns]>

In [7]:
# Total 3193 rows and 164 columns
# Extract required columns
cnty_est_pop_1 = cnty_est_pop[['STNAME','CTYNAME','COUNTY','POPESTIMATE2019']].copy()

In [8]:
# Describe new dataframe
cnty_est_pop_1.describe()

            COUNTY  POPESTIMATE2019
count  3193.000000     3.193000e+03
mean    101.918572     2.055995e+05
std     107.626583     1.260310e+06
min       0.000000     8.600000e+01
25%      33.000000     1.112800e+04
50%      77.000000     2.651600e+04
75%     133.000000     7.330900e+04
max     840.000000     3.951222e+07

In [9]:
# County number zero has the total population for the state
# Remove rows where county number is zero
cnty_est_pop_1.drop(cnty_est_pop_1[cnty_est_pop_1['COUNTY']== 0].index, inplace=True)

In [10]:
# View number of rows
cnty_est_pop_1.count()

STNAME             3142
CTYNAME            3142
COUNTY             3142
POPESTIMATE2019    3142
dtype: int64

In [11]:
# Check Nan rows
cnty_est_pop_1.isna().sum()

STNAME             0
CTYNAME            0
COUNTY             0
POPESTIMATE2019    0
dtype: int64

In [12]:
# Since the sum is zero, there are no Nan or Null values

In [13]:
# Identify any duplicates
cnty_est_pop_1[cnty_est_pop_1.duplicated()].sum()

STNAME             0.0
CTYNAME            0.0
COUNTY             0.0
POPESTIMATE2019    0.0
dtype: float64

In [14]:
# Since the sum is zero, no duplicates are found

In [15]:
# View data again
cnty_est_pop_1.head(10)

     STNAME          CTYNAME  COUNTY  POPESTIMATE2019
1   Alabama   Autauga County       1            55869
2   Alabama   Baldwin County       3           223234
3   Alabama   Barbour County       5            24686
4   Alabama      Bibb County       7            22394
5   Alabama    Blount County       9            57826
6   Alabama   Bullock County      11            10101
7   Alabama    Butler County      13            19448
8   Alabama   Calhoun County      15           113605
9   Alabama  Chambers County      17            33254
10  Alabama  Cherokee County      19            26196

In [16]:
# Split county name
# Remove word 'County'
# Store it as CNTY
cnty_est_pop_1['CNTY']=cnty_est_pop_1['CTYNAME'].str.split().str[0]

In [17]:
# Remove COUNTY, CNTYNAM columns which are not required
# Copy to new dataframe
cnty_est_pop_2 = cnty_est_pop_1.drop(columns=['COUNTY','CTYNAME'])

In [18]:
# Rename Headers
cnty_est_pop_2.rename(columns={'STNAME':'state', 'POPESTIMATE2019':'estimate_2019','CNTY':'county'}, inplace=True)

In [19]:
# Check invalid state or county names
cnty_est_pop_2['state'].nunique()

51

In [20]:
# Total number of states and DC makes the count 51

In [21]:
# Install libraries for fuzzy matching
!pip install fuzzywuzzy
!pip install python-Levenshtein

Requirement already satisfied: fuzzywuzzy in c:\users\supernova\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: python-Levenshtein in c:\users\supernova\anaconda3\lib\site-packages (0.12.0)
Requirement already satisfied: setuptools in c:\users\supernova\anaconda3\lib\site-packages (from python-Levenshtein) (41.4.0)

In [22]:
# Import fuzz and process
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process

In [26]:
# Run fuzzu ratio on county names
fuzz.ratio(cnty_est_pop_2["county"].items, cnty_est_pop_2["county"].items)

100

In [28]:
# Fuzzy ratio came back 100, which means no errors in county names

In [32]:
# Final dataframe has 3192 records
cnty_est_pop_2.tail(10)

        state  estimate_2019      county
3183  Wyoming           2356    Niobrara
3184  Wyoming          29194        Park
3185  Wyoming           8393      Platte
3186  Wyoming          30485    Sheridan
3187  Wyoming           9831    Sublette
3188  Wyoming          42343  Sweetwater
3189  Wyoming          23464       Teton
3190  Wyoming          20226       Uinta
3191  Wyoming           7805    Washakie
3192  Wyoming           6927      Weston